google-ads==26.0.0
streamlit==1.32.2
streamlit-option-menu==0.3.12
streamlit-aggrid==0.3.4.post3
plotly==5.20.0
altair==5.2.0
openai==1.14.0
google-generativeai==0.4.1
pandas==2.2.1
numpy==1.26.4
pyyaml==6.0.1
python-dotenv==1.0.1
Pillow==10.5.0
requests==2.31.0
protobuf==4.25.3